.theme-card {
  float: left;
  padding: 16px;
  border-radius: 0;
  -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 1px 0 rgba(0,0,0,.1);

  .avatar {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
}
