<mat-card class="theme-card" [ngStyle]="{'backgroundColor':theme.color, 'width.px':width}">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{theme.title}}</mat-card-title>
    <mat-card-subtitle>{{theme.subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <line-chart></line-chart>
  <mat-card-content>
    <p>
      꾸루꾸루
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
